.latest_news {
  // make gallery stay in middle of the page
  width: 1200px;
  margin: 0 auto;
  margin-top: 10vw;

  * {
    box-sizing: border-box;
  }

  /* Container for flexboxes */
  .row {
    display: flex;
    flex-wrap: wrap;
  }



  h1 {
    font-family: sans-serif;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    font-weight: 200;
    font-size: 36px;
  }

  .image_div {
    a {
      // create red underline
      border-bottom: 2px solid #cf1430;
    }
  }

  .column {
      flex: 33%;
      padding: 20px;

      vertical-align: top;
      font-family: sans-serif;
      color: #ffffff;

      // top - right - bottom - left
      padding: 30px 15px 0 15px;

      .content_div {
        a {
          color: #ffffff;
          text-decoration: none;
          font-weight: 600;

          // create red underline
          padding-bottom: 10px;
          border-bottom: 1px solid #cf1430;
        }

        p {
          line-height: 2;
          color: #a0a2a2;

          // =======================================================
          // Display dots after 3 lines - commented to match design
          // =======================================================
          /*
          display: -webkit-box;
          max-width: 400px;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
          */
        }

        strong {
          font-size: 17px;
          color: #ffffff;
        }
      }

      img {
        width: 100%;
        height: 250px;
        border-color: 1px solid #cf1430;
      }

  }

  // ======================================================================================
  // Media section
  // ======================================================================================

  // On screens that are 1000px wide or less, go from four columns to two columns
  @media screen and (max-width: 1000px) {
      .column {
        flex: 50% !important;
        padding: 30px 20px 0 20px !important;

        img {
          height: auto !important;
        }

        strong {
          font-size: 1.2em !important;
        }

        p {
          font-size: 1.5em;
        }

        a {
          font-size: 1.5em;
        }

        // news at 3th place will reduce width to match with div 1st
        &:nth-child(3) {
          img {
            width: 48%;
          }

          .content_div {
            width: 48%;
          }
        }
      }
  }

   // On screens that are 500px wide or less, make the columns stack on top of each other instead of next to each other
  @media screen and (max-width: 500px) {
    .row {
      flex-direction: column;
    }
    .column {
      width: 100%;

      padding: 50px !important;
      img {
        height: auto !important;
      }

      .content_div {
        strong {
          font-size: 1.5em;
        }

        p {
          font-size: 2.5em;
        }

        a {
          font-size: 2.5em;
        }
      }

      // back to 100%
      &:nth-child(3) {
        img {
          width: 100%;
        }

        .content_div {
          width: 100%;
        }
      }
    }

    h1 {
      font-size: 3.5em;
    }
  }

}
