.latest_news {
  // make gallery stay in middle of the page
  width: 1200px;
  margin: 0 auto;
  margin-top: 10vw;

  h1 {
    font-family: sans-serif;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    font-weight: 200;
    font-size: 36px;
  }


  table {
    table-layout: fixed;
    width: 100%;

    td {
      // make each columns has equal width
      width: 33%;

      vertical-align: top;
      font-family: sans-serif;
      color: #ffffff;

      // top - right - bottom - left
      padding: 30px 20px 0 20px;

      p {
        line-height: 2;
      }

      img {
        width: 100%;
        height: 250px;
        border-color: 1px solid #cf1430;
      }
    }
  }

}
