.latest_news {
  // make gallery stay in middle of the page
  width: 1200px;
  margin: 0 auto;
  margin-top: 10vw;

  * {
    box-sizing: border-box;
  }

  /* Container for flexboxes */
  .row {
    display: flex;
    flex-wrap: wrap;
  }



  h1 {
    font-family: sans-serif;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    font-weight: 200;
    font-size: 36px;
  }

  .image_div {
    a {
      // create red underline
      border-bottom: 2px solid #cf1430;
    }
  }

  .column {
      flex: 33%;
      padding: 20px;

      vertical-align: top;
      font-family: sans-serif;
      color: #ffffff;

      // top - right - bottom - left
      padding: 30px 15px 0 15px;

      .content_div {
        a {
          color: #ffffff;
          text-decoration: none;
          font-weight: 600;

          // create red underline
          padding-bottom: 10px;
          border-bottom: 1px solid #cf1430;
        }

        p {
          line-height: 2;
          color: #a0a2a2;
        }

        strong {
          font-size: 17px;
          color: #ffffff;
        }
      }

      img {
        width: 100%;
        height: 250px;
        border-color: 1px solid #cf1430;
      }

  }

  // On screens that are 1000px wide or less, go from four columns to two columns
  @media screen and (max-width: 1000px) {
      .column {
        flex: 50% !important;
        padding: 30px 20px 0 20px !important;
      }
  }

   // On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other
  @media screen and (max-width: 500px) {
    .row {
      flex-direction: column;
    }
    .column {
      width: 100%;
    }
  }

}
