body {
  background-color: #000000;
}

.main {
  // make gallery stay in middle of the page
  width: 1200px;
  margin: 0 auto;
  margin-top: 10vw;

  table {
    table-layout: fixed;
    width: 100%;
  }
  td {
    // make each columns has equal width
    width: 33%;

    vertical-align: top;
    font-family: sans-serif;
    color: #ffffff;

    #img_top_3 {
      margin-top: 3%;
    }

    p {
      line-height: 2;
    }

    h2 {
      // remove default margin from h2
      margin: 0;

      // use border bottom to have better underline and create bigger gap from text
      padding-bottom: 20px;
      border-bottom: 1px solid #ffffff;
    }

    strong {
      color: #cf1430;
    }
  }
}
