body {
  background-color: #000000;
}

.main {
  // make gallery stay in middle of the page
  width: 1200px;
  height: 800px;
  margin: 0 auto;
  margin-top: 10vw;

  table {
    table-layout: fixed;
    width: 100%;

    // make right-handed column scrollable when long contents.
    #scrollable_column {
      overflow-y: scroll;
      height: 570px;

      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */

      // Hide scrollbar for Chrome, Safari and Opera
      &::-webkit-scrollbar {
        display: none;
      }
    }

    td {
      // make each columns has equal width
      width: 33%;

      vertical-align: top;
      font-family: sans-serif;
      color: #ffffff;

      // top - right - bottom - left
      padding: 0 10px 0 10px;

      img {
        width: 100%;

        // animation
        transition: transform .5s;

        // zoom on hover
        &:hover {
          transform: scale(1.08);
        }
      }


      #img_top_3 {
        margin-top: 3%;
      }

      p {
        line-height: 2;
        font-size: 17px;
      }

      #answer_body_content {
        color: #a0a2a2;
      }

      h2 {
        // remove default margin from h2
        margin: 0;

        // use border bottom to have better underline and create bigger gap from text
        padding-bottom: 20px;
        border-bottom: 1px solid #a0a2a2;

        font-weight: 200;
        color: #a0a2a2;
      }

      strong {
        color: #cf1430;
      }

      #be_mindful_content {
        font-weight: 600;
      }
    }
  }

}
